body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131313;
  color: white;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1f1f1f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #2f2f2f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
